@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family:sans-serif;
}